/* Tiles */

.bad {
  background: #D46A6A none repeat scroll 0 0;
}

.good {
  background: #88CC88 none repeat scroll 0 0;
}

.normal {
  background: #DDDDDD none repeat scroll 0 0;
}


/* Gridster */

#grid {
  margin: 0 auto;
  opacity: 0.8;
  transition: opacity 0.6s ease 0s;
  width: 100%;
}

#grid > div {
  background-color: #fafafa;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  cursor: pointer;
  padding: 5px;
  order-radius: 2px;
  overflow: hidden;
  transition-duration: 0.218s;
  transition-property: background, opacity, box-shadow, transform;
  transition-timing-function: ease-in;
}

#grid > div h1 {
  font-size: 1.2em;
  margin-bottom: 5px;
  margin-top: 5px;
}

#grid > div p {
  font-size: 1em;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: center;
}

#grid .preview-holder {
  border: medium dashed !important;
}

#topright {
  content:'';
  border-top: 100px;
  border-left: 100px;
  position: absolute;
  top: 0;
  right: 0;
}


/* Flexbox */

main {
  display: flex;
  justify-content: center;
}

main div {
  font-size: 0.8em;
  padding: 5px;
  max-width: 75px;
  margin: 5px;
}


/* Treeview */

.treeview input + label + .tree {
  margin: 0 0 0 22px;
}

.treeview input ~ .tree {
  display: none;
}

.treeview label,
.treeview label::before {
  cursor: pointer;
}

.treeview input:disabled + label {
  cursor: default;
  opacity: .6;
}

.treeview input:checked:not(:disabled) ~ .tree {
  display: block;
}
