/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  .card-columns {
    column-count: 1;
    -moz-column-count: 1;
    -webkit-column-count: 1;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px){
  .card-columns {
    column-count: 1;
    -moz-column-count: 1;
    -webkit-column-count: 1;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  .card-columns {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
  }
}

/* Everything but a large desktop. */
@media (min-width: 576px) and (max-width: 1199px) {
  /* Center menu items in dropdown menu. */
  nav .navbar li {
    text-align: center;
  }
  .streamer {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .card-columns {
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
  }
  .streamer {
    float: left;
    margin-left: -90px;
    margin-right: 10px;
    width: 250px;
  }
}



/* Deck of cards */

.card {
  border: 0 0 0 0; /*Overrule Bootstrap 4.*/
  box-shadow: 12px 12px 8px -8px #999;
  -moz-box-shadow: 12px 12px 8px -8px #999;
  -webkit-box-shadow: 12px 12px 8px -8px #999;
  margin-top: 10px;
}

.card .crop {
  height: 225px;
  overflow: hidden;
}

.card-columns {
  margin-left: 10px;
  margin-right: 10px;
}

.card-footer ol,
.card-footer ol li,
.card-footer ul,
.card-footer ul li {
  display: inline;
  margin: 0;
  padding: 0;
}

/* Links in card footers are grey. */
/* It is a good idea to define a different color for hovered links. */
.card-footer,
.card-footer a,
.card-footer a:active,
.card-footer a:focus,
.card-footer a:visited {
  color: #777;
}

.card-footer ol li:not(:last-child):after,
.card-footer ul li:not(:last-child):after {
  content: ",";
}



/* Generic style. */

body {
  margin-top: 60px;
}

a,
a:active,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
}

code, pre {
  background: #f8f8ff;
  font-family: monospace;
}

.concept {
  font-style: italic;
}

h1, h3, h4, h5, h6 {
  margin-bottom: 0px;
  margin-top: 0px;
}

h2 {
  margin-bottom: 0px;
  margin-top: 20px;
}

img {
  height: auto;
  max-width: 100%;
}

/* Prevent wordwrap. */
.nowrap {
  white-space: nowrap;
}

p {
  margin: 0;
  text-align: justify;
}

/* Extra horizontal spacing for the pipe symbol. */
.pipe, .space {
  padding-left: 2px;
  padding-right: 2px;
}

/* Quotes are styled uniformly.  Use the `q` tag to mark them up. */
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}

.streamer {
  font-size: 1.7em;
  line-height: 1.2em;
}
.streamer:after {
  content: close-quote;
}
.streamer:before {
  content: open-quote;
}

.todo {
  color: red;
}



/* User menu */

@media (min-width: 1150px) {
  #user-menu {
    margin-right: 5px;
  }
}
@media (max-width: 1150px) {
  #user-menu {
    text-align: center;
  }
}

#user-menu a {
  padding-bottom: 7px;
  padding-top: 7px;
}

#user-menu img {
  height: 35px;
  margin-right: 10px;
  width: 35px;
}



/* User page: Header */

article header img {
  border-radius: 100px;
  height: 200px;
  width: 200px;
}
li[typeof="sbo:Author"] {
  vertical-align: middle;
}
li[typeof="sbo:Author"] img {
  border-radius: 150px;
  height: 150px;
  width: 150px;
}



/* Navigation bar */

nav {
  min-height: 50px;
}

nav .brand-txt {
  margin-top: 5px;
  vertical-align: middle;
}

.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
  padding: 0;
}

nav .navbar-toggler {
  margin: 5px 0;
}

nav .nav-item {
  padding-left: 10px;
  padding-right: 10px;
}
nav .nav-item.active {
  background: #999;
}
nav .nav-item.active a,
nav .nav-item.active a:focus,
nav .nav-item.active a:hover {
  color: #555;
}

nav .nav-link {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
nav .nav-link a,
nav .nav-link a:active,
nav .nav-link a:focus,
nav .nav-link a:visited {
  color: black;
}



/* Social buttons */

.social-btn {
  display: inline-block;
  padding: 10px;
  position: relative;
}
.social-btn a img {
  max-height: 40px;
  max-width: 40px;
}



/* Figure */

figure {
  font-style: italic;
  padding: 20px;
  text-align: center;
}



/* Article */

article header {
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  text-align: center;
}

article header h1 {
  font-size: 250%;
  line-height: 1.2em;
  text-align: center;
}

article > header > .metadata {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}
/* Article metadata is grey. */
/* It is a good idea to define a different color for hovered links for
   your site. */
article > header > .metadata,
article > header > .metadata a,
article > header > .metadata a:visited {
  color: #777;
}

article .metadata ol,
article .metadata ul {
  display: inline;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
article .metadata ol li,
article .metadata ul li {
  display: inline;
  line-height: 1;
  position: relative;
}
article .metadata ol li:not(:last-child):after,
article .metadata ul li:not(:last-child):after {
  content: ",";
}

article section {
  margin: auto;
  max-width: 740px;
  width: 80%
}

article h2,
article h3 {
  text-align: center;
}

article [property="sioc:content"] {
  font-size: 120%;
  margin: auto;
  max-width: 550px;
}

article [property="sioc:content"] p {
  margin-bottom: 10px;
}

article [property="sioc:content"] > p:first-of-type:first-letter {
  float: left;
  font-size: 550%;
  line-height: 0.8;
  margin-right: 5px;
}



/* Footer */

body footer {
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  padding: 30px 15px 30px 15px;
}
body footer h1 {
  font-size: 130%;
  text-transform: uppercase;
}
body footer ul {
  list-style: outside none none;
  padding-left: 10px;
}
body footer li {
  padding: 10px 0 0 0;
  text-transform: capitalize;
}





/* Comments */

/* Display a content-wide border above the comments section. */
.comments {
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 1px 0 0 0;
  margin: 0 auto;
  width: 550px;
}


/* Comments: Existing ones */

.votes {
  margin-left: 100px;
}

.vote-amount {
  margin-left: 5px;
  margin-right: 5px;
}

.comment-image {
  margin-left: 440px;
}

.comment-image .user-image img {
  border-radius: 30px;
  height: 60px;
  width: 60px;
}

.comment-content {
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #444444;
  float: left;
  line-height: 1.8em;
  min-height: 60px;
  width: 460px;
}


/* Comments: New ones */

#add-a-new-comment, .comment-header {
  font-size: 90%;
}

#create-comment-content textarea {
  height: 60px;
  width: 520px;
}

#create-comment-content {
  float: left;
}

/* Toolbars appear to the right. */
#create-comment-toolbar, .edit-comment-toolbar {
  float: right;
}

/* Toolbar buttons all have the same size. */
#create-comment-button, #cancel-comment-button,
.update-comment-button, .delete-comment-button,
.vote-down, .vote-up {
  height: 30px;
  width: 30px;
}

/* Toolbar buttons that appear on the next line. */
#cancel-comment-button, .delete-comment-button {
  clear: both;
  display: block;
}



/* Editor */
.editable {
  border: 1px solid;
}



/* Leaflet
html,
body,
.container-fluid,
.container-fluid .main,
.container-fluid .main .row,
.container-fluid .main .row .col,
*/
#mapid {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

/* Crosshair mouse pointer for interacting with the map. */
#mapid {
  cursor: crosshair;
}

/* Hide the Leaflet ‘watermark’. */
.leaflet-control-attribution{
  display: none !important;
}

path.leaflet-interactive:hover {
  fill: black;
}
