*.action {
  background-color: yellow;
  color: black;
  font-family: monospace;
}

*.file_name {
  font-family: monospace;
}

*.emphasis {
  font-style: italic;
  font-family: monospace;
}

*.module_name {
  font-family: monospace;
}

*.predicate_name {
  font-family: monospace;
}

*.shell_command {
  font-family: monospace;
}

*.syntax {
  background-color: black;
  color: yellow;
  font-family: monospace;
}

*.term {
  background-color: white;
  color: red;
  font-family: monospace;
}

*.type {
  background-color: white;
  color: blue;
  font-family: monospace;
}

body {
  background-color: white;
  color: black;
}

dl:hover {
  background-color: black;
  color: white;
}

h1 {
  display: block;
  font-size: 175%;
  font-weight: bold;
  text-align: center;
}

h1:hover {
  background-color: black;
  color: white;
}

h2:hover {
  background-color: black;
  color: white;
}

li:hover {
  background-color: black;
  color: white;
}

p {
  display: block;
}

p {
  font-family: serif;
}

p:hover {
  background-color: black;
  color: white;
}

pre:hover {
  background-color: black;
  color: white;
}

tr:hover {
  background-color: black;
  color: white;
}



*.image_description {
  font-weight: normal;
  margin: 2px;
  text-align: center;
  width: 220px;
}

*.image_thumbnail {
  height: 180px;
  max-width: 220px;
  width: auto;
}
*.image_thumbnail {
  height: auto;
  max-height: 180px;
  width: 220px;
}

div.image {
  display: inline-block;
  height: auto;
  margin: 2px;
  text-align: center;
  width: auto;
}

div.image a:hover img {
  border: 1px solid #0000ff;
}

div.image img {
  border: 1px solid #ffffff;
  display: inline;
  margin: 6px;
}

*.image_group {
  display: block;
  height: auto;
  margin: 6px;
  width: auto;
}

